<?xml version="1.0" encoding="utf-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id="com.app.flashlight"
		version="0.0.1">
	<name>Flashlight</name>
		<gap:platform name="android" />
		<gap:platform name="ios" />
		<gap:plugin name="nl.x-services.plugins.flashlight" version="1.0"/>
		<preference name="phonegap-version" value="3.0.0" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="true" />
		<icon src="icon.png" />
</widget>
